@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Lexend+Peta:wght@700&family=Oswald:wght@300&family=Roboto:ital,wght@1,100&display=swap');

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Título */

h1{
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    display: block;
    padding: 9px;
    background-color: rgba(228, 228, 228, 0.993);
}

/* Menu de Navegação */

.nav{
margin-left: 40px;
float: left;
}

ul{
    display: inline-block;
    list-style-type: none;
    background: white;
}

li{
    float:left;
}

li a, .dropbtn{
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 0px 30px;
    padding-bottom: 14px;
}

li.dropdown:hover .dropbtn{
    font-weight: bold;
    border-bottom: 1px solid black;
}

li .dropdown-content a:hover{
    border-left: 1px solid black;
}

.dropdown-content{
    padding-top: 14px;
    background: rgb(255, 255, 255);
    width: 150px;
    display: none;
    position: absolute;
}

.dropdown-content a{
    display: block;
}

.dropdown:hover .dropdown-content, .dropdown-content a{
    display: block;
}

/* Barra de pesquisa */

#pesquisa{
    display: block;
    position: relative;
    left:200px;
    top: 23px;
    height: 29px;
    float:inline-start;
    margin-left: 700px;
}

#pesquisa #form{
    position: absolute;
    display: block;
}

#form input.campo-pesquisa{
    background: rgba(228, 228, 228, 0.993);
    width: 250px;
    border: 1px solid;
    padding: 7px;
    color: rgb(59, 59, 59);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom:18px;
}

#form input.campo-pesquisa::placeholder{
    padding: 5px;
    color: rgb(59, 59, 59);
    font-size: 14px;
    font-weight: bold;
}

#form button.btn_submit{
    background: rgba(0, 0, 0, 0.993);
    position: relative;
    border:0;
    width: 33px;
    height: 33px;
    cursor:pointer;
    left:250px;
    bottom:18px;
}

hr{
    margin-top: 2px;
    clear: both;
    border: 1 solid grey;
    box-shadow: 1px 2px 5px black;
    float:inline-end;
}